@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Urbanist:wght@100&display=swap');


.oswald {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}

.urbanist {
  font-family: 'Urbanist', sans-serif;
  font-weight: 100;
}